---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Welcome to the MAUIverse" description="Welcome to the MAUIverse">
  <div class="fixed inset-0 w-full h-full overflow-hidden">
    <img
      src="/img/mauiverse-logo-background.png"
      alt="MAUIverse Logo"
      class="w-full h-full object-cover object-center"
    />
  </div>
</BaseLayout>
