---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = 'Welcome to the MAUIverse' } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content={description} />
    <meta name="keywords" content=".NET, MAUI, Blazor Hybrid, iOS, Android, Windows, Mac, Multi-platform App UI, cross-platform, community, open-source" />
    <meta name="author" content="mauiverse.net" />
    <title>{title}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
